<div ng-show="!showListView">
  <h3>Edit Event or Create New Event</h3>
    <form>
      <div class="form-group" placeholder="New Event">
        <input type="text" class="form-control" placeholder="New Event" ng-model="newEvent.name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="New Event Date" ng-model="newEvent.date">
      </div>
      <div class="form-group">
        Is this event in the future?
        <input type="checkbox" class="form-control" ng-model="newEvent.isFuture">
      </div>
      <div class="form-group">
        Is a gift required?
        <input type="checkbox" class="form-control" ng-model="newEvent.giftRequired">
      </div>
        <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewEvent()">Save Event</button>
        <button class="btn btn-danger btn-lg" ng-click="cancelEventEdit()">Cancel</button>
    </form>
  </div>
</div>
