<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>
<h3>Groups</h3>
    <div ng-repeat="group in groups">
        <div class="groupList col-xs-4">
                <div><a href=#/groups/view/{{group.id}}><b>Group Name:</b> {{group.name}}</a></div>
                <div ng-repeat="person in group.resolvedMembers">
                    <b>Member:</b> {{person.firstName}} {{person.lastName}}
                </div>
                <div class="col-xs-3">{{group.usualLocation}}</div>
                <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteGroup(group.id)"></button></div>
            </div>
        </div>
    </div>
<div class="row">
    <button class="btn" ng-click="showNewGroupPage()">New Group</button>
</div>

















