<div ng-show="!showListView">
  <h3>New Group</h3>
    <form>
      <div class="form-group" placeholder="New Group">
        <input type="text" class="form-control" placeholder="New Group Name" ng-model="newGroup.name">
      </div>
      <div class="form-group" placeholder="">
        <input type="text" class="form-control" placeholder="Usual Meeting Location" ng-model="newGroup.usualLocation">
      </div>      

        <button type="button" class="btn btn-primary btn-lg col-xs-2" ng-click="addNewGroup()">Save New Group</button>
    </form>
  </div>
</div>
