<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
        </div>
    </div>
</div>

<h3>People</h3>
<div class="row">
    <div ng-repeat="person in people">
        <div class="peopleList col-xs-3">
                <div><a href=#/people/view/{{person.id}}>{{person.firstName}}</a></div>
                <div><a href=#/people/view/{{person.id}}>{{person.lastName}}</a></div>
                <div>{{person.phoneNumber}}</div>
                <div>{{person.address}}</div>
                <div>{{person.cityState}}</div>
                <div>{{person.zipCode}}</div>
                <div><button class="btn btn-danger fa fa-trash-o" ng-click="deletePerson(person.id)"></button></div>
            </div>
        </div>
    </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <ul class="pager">
           <li class="btn btn-lg" ng-click="showEventPage()">Events</li>
            <li class="btn btn-lg" ng-click="showPeoplePage()">People</li>
            <li class="btn btn-lg" ng-click="showGroupsPage()">Groups</li>
        </ul>
    </div>
</nav>