<h1>People in {{selectedGroup}}:</h1>
<h2 ng-repeat="person in selectedGroup.members">{{selectedGroup.members}}
Do you have a gift for this person?<input type="checkbox" ng-model="person.haveAGift" ng-click="doYouHaveAGiftForThisPerson(person)"><input type="text" ng-model="person.giftType"></h2>





<button class="btn btn-info"><a ng-href="#/groups/edit/{{selectedGroup.id}}">Edit</a></button>
<h2>Name: {{selectedGroup.name}}</h2>
<h2>Members:</h2>
<h4 ng-repeat="member in selectedGroup.resolvedMembers">{{member.firstName}} {{member.lastName}}</h4>


