body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #A8DADC; }

nav {
  font-family: 'Handlee', cursive;
  font-size: 1.4em; }
  nav .logo {
    height: 70px; }
  nav .navbar-brand {
    padding: 0; }

.navbar {
  min-height: 70px; }

.navbar-default {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5); }

.groupList {
  border: 1px solid black;
  height: 20%;
  margin: 1%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.5); }

.eventList {
  border: 1px solid black;
  height: 20%;
  margin: 1%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.5); }

.peopleList {
  border: 1px solid black;
  height: 20%;
  margin: 1%;
  display: inline-block;
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(255, 255, 255, 0.5); }

h3 {
  font-family: 'Handlee', cursive;
  font-size: 2em; }

.dropdown-menu {
  font-size: 1em; }
